# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tls-gen

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Homebrew OpenSSL 3
        if: matrix.os == 'macos-latest'
        run: |
          readonly prefix="$(brew --prefix openssl@3)"
          echo "[INFO] openssl@3 prefix: $prefix"
          echo "$prefix/bin" >> "$GITHUB_PATH"
      - name: Show OpenSSL
        run: |
          openssl version
          openssl version -d
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
      - name: Lint with flake8
        run: |
          # The GitHub editor is 127 chars wide
          flake8 . --verbose --count --show-source --statistics --max-complexity=10 --max-line-length=127
      - name: Run
        run: |
          make CN=localhost -C basic
          make CN=localhost -C basic info
          make CN=localhost -C basic verify
          make CN=localhost -C basic clean
          make CN=localhost -C one_intermediate
          make CN=localhost -C one_intermediate info
          make CN=localhost -C one_intermediate verify
          make CN=localhost -C one_intermediate clean
          make CN=localhost -C separate_intermediates
          make CN=localhost -C separate_intermediates info
          make CN=localhost -C separate_intermediates verify
          make CN=localhost -C separate_intermediates clean
          make CN=localhost -C two_shared_intermediates
          make CN=localhost -C two_shared_intermediates info
          make CN=localhost -C two_shared_intermediates verify
          make CN=localhost -C two_shared_intermediates clean
      - name: Test
        if: matrix.os == 'ubuntu-latest'
        run: ${{ github.workspace }}/test/basic.sh
